/*
Author: Ammon Clegg
Stylesheet for breakum game
*/

body {
    margin: 0;
    text-align: Center;
}

h1 {
    margin: 0px;
    color: #EEEEEE;
}

h2 {
    margin: 0px;
    color: #EEEEEE;
}

h3 {
    margin: 0px;
    color: #EEEEEE;
}

.screen {
    width: 750px;
    height: 500px;
    margin-left: -2px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: none; 
    background-image: url("images/space.jpg");
    background-color: black;
}

.screen.active {
    display: block;
}

#background {
    background-color: black;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

#gameDiv {
    width: 750px;
    border-style: solid;
    border-width: 2px;
    margin: 0 auto;
}

#header {
    position: relative;
    margin-top: 5px;
    background-color: black;
    vertical-align: top;
}

#title {
    height: 50%;
}

#timer {
    float: left;
    width: 40%;
    height: 50%;
}

#scoreBoard {
    height: 50%;
}

#canvas {
    width: 100%;
    height: 100%;
}

#gameMenu {
    width: 198px;
    height: 550px;
    float: right;
    border: solid black 2px;
    margin-right: -2px;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0;
}

ul.menu li button {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #EEEEEE;
    width: 120px;
    height: 80px;
    background: mediumblue;
    border: 1px solid rgb(50,50,50);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 5px 5px #333333;
}

ul.menu li button:hover {
    background: darkblue;
}

ul.menu li button:active {
    color: black;
    background: lightblue;
}

#footer {
    margin-bottom: 5px;
    height: 50px;
    background-color: black;
    text-align: center;
}